body{
   
}
h2{
    font-size: 80px;
    padding: 20px;
}
.num { 
    width: 200px;
    height: 50px;
}

#numero{
    height: 70px;
    width: 400px;
    font-size: 50px;
}
.container{
    position: absolute;
    left: 40%; 
    background-color: rgb(116, 11, 11);
    display: block;
    top: 250px;
   
    
    
    margin: auto;
}
.ora{
  
}
.logo{
    display: flex;
    padding-bottom: 200px;
    padding-top: 50px;  
    inset: 0;
    margin: auto;
   padding-left: 220px;
}
.validation{
    font-size: 80px;
    padding-left: 200px;
    padding-bottom: 200px;
    
}
.appele{
    margin-left: 50px;
}
.mtn{
    border: solid;
}

.btns{
    height: 150px;
    width: 500px;
    font-size: 50px;
    margin-left: 400px;
    border-radius: 150px;

}
.bouton a:hover .btns{
   color: rgb(255, 254, 255);
  background-color: rgb(13, 134, 58);
}
.bouton .btns {
    background-color:  white ;
}
.big{
    position: relative;

}